.Rproj
.DS_Store
2_data_wrangling_in_R/assignment_complete.pdf
2_data_wrangling_in_R/assignment_student.pdf
2_data_wrangling_in_R/assignment_complete.Rmd
2_data_wrangling_in_R/slides_cache/*
2_data_wrangling_in_R/slides_files/*
2_data_wrangling_in_R/assignment_student_cache/*
2_data_wrangling_in_R/assignment_student_files/*
2_data_wrangling_in_R/assignment_complete_cache/*
2_data_wrangling_in_R/assignment_complete_files/*
